{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.platform.softwareone.com/public"
    }
  ],
  "info": {
    "title": "Swo.Platform API",
    "version": "1.0"
  },
  "paths": {
    "/v1/accounts/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "properties": {
                      "ExternalIds.PyraTenantId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "ExternalId": {
                        "type": "string"
                      },
                      "ExternalName": {
                        "type": "string"
                      },
                      "Type": {
                        "$ref": "#/components/schemas/AccountType"
                      },
                      "Status": {
                        "$ref": "#/components/schemas/AccountStatus"
                      },
                      "ServiceLevel": {
                        "$ref": "#/components/schemas/AccountServiceLevel"
                      },
                      "Address.AddressLine1": {
                        "type": "string"
                      },
                      "Address.AddressLine2": {
                        "type": "string"
                      },
                      "Address.PostCode": {
                        "type": "string"
                      },
                      "Address.City": {
                        "type": "string"
                      },
                      "Address.State": {
                        "type": "string"
                      },
                      "Address.Country": {
                        "type": "string"
                      },
                      "Icon": {
                        "type": "string"
                      },
                      "IconFileId": {
                        "type": "string"
                      },
                      "TechnicalSupportEmail": {
                        "type": "string"
                      },
                      "Website": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      },
                      "Name": {
                        "type": "string"
                      },
                      "Groups": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/UserGroupQueryModel"
                        }
                      },
                      "Metadata.OmittedProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Reference": {
                        "type": "string"
                      },
                      "Audit.Created.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Created.ById": {
                        "type": "string"
                      },
                      "Audit.Created.By.Name": {
                        "type": "string"
                      },
                      "Audit.Created.By.Icon": {
                        "type": "string"
                      },
                      "Audit.Created.By.HasIcon": {
                        "type": "boolean"
                      },
                      "Audit.Created.By.Type": {
                        "$ref": "#/components/schemas/IdentityType"
                      },
                      "Audit.Created.By.Metadata.OmittedProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Audit.Created.By.Reference": {
                        "type": "string"
                      },
                      "Audit.Created.By.Audit.Created": {
                        "$ref": "#/components/schemas/QueryModelEvent"
                      },
                      "Audit.Created.By.Audit.Updated.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Created.By.Audit.Updated.ById": {
                        "type": "string"
                      },
                      "Audit.Created.By.Audit.Updated.By": {
                        "$ref": "#/components/schemas/IdentityQueryModel"
                      },
                      "Audit.Created.By.Id": {
                        "type": "string"
                      },
                      "Audit.Created.By.SystemId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Audit.Updated.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Updated.ById": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Name": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Icon": {
                        "type": "string"
                      },
                      "Audit.Updated.By.HasIcon": {
                        "type": "boolean"
                      },
                      "Audit.Updated.By.Type": {
                        "$ref": "#/components/schemas/IdentityType"
                      },
                      "Audit.Updated.By.Metadata.OmittedProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Audit.Updated.By.Reference": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Audit.Created.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Updated.By.Audit.Created.ById": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Audit.Created.By": {
                        "$ref": "#/components/schemas/IdentityQueryModel"
                      },
                      "Audit.Updated.By.Audit.Updated": {
                        "$ref": "#/components/schemas/QueryModelEvent"
                      },
                      "Audit.Updated.By.Id": {
                        "type": "string"
                      },
                      "Audit.Updated.By.SystemId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Id": {
                        "type": "string"
                      },
                      "SystemId": {
                        "type": "integer",
                        "format": "int32"
                      }
                    },
                    "description": "Json representation of the account"
                  },
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Logo": {
                  "style": "form"
                },
                "ExternalIds.PyraTenantId": {
                  "style": "form"
                },
                "ExternalId": {
                  "style": "form"
                },
                "ExternalName": {
                  "style": "form"
                },
                "Type": {
                  "style": "form"
                },
                "Status": {
                  "style": "form"
                },
                "ServiceLevel": {
                  "style": "form"
                },
                "Address.AddressLine1": {
                  "style": "form"
                },
                "Address.AddressLine2": {
                  "style": "form"
                },
                "Address.PostCode": {
                  "style": "form"
                },
                "Address.City": {
                  "style": "form"
                },
                "Address.State": {
                  "style": "form"
                },
                "Address.Country": {
                  "style": "form"
                },
                "Icon": {
                  "style": "form"
                },
                "IconFileId": {
                  "style": "form"
                },
                "TechnicalSupportEmail": {
                  "style": "form"
                },
                "Website": {
                  "style": "form"
                },
                "Description": {
                  "style": "form"
                },
                "Name": {
                  "style": "form"
                },
                "Groups": {
                  "style": "form"
                },
                "Metadata.OmittedProperties": {
                  "style": "form"
                },
                "Reference": {
                  "style": "form"
                },
                "Audit.Created.At": {
                  "style": "form"
                },
                "Audit.Created.ById": {
                  "style": "form"
                },
                "Audit.Created.By.Name": {
                  "style": "form"
                },
                "Audit.Created.By.Icon": {
                  "style": "form"
                },
                "Audit.Created.By.HasIcon": {
                  "style": "form"
                },
                "Audit.Created.By.Type": {
                  "style": "form"
                },
                "Audit.Created.By.Metadata.OmittedProperties": {
                  "style": "form"
                },
                "Audit.Created.By.Reference": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Created": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Updated.At": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Updated.ById": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Updated.By": {
                  "style": "form"
                },
                "Audit.Created.By.Id": {
                  "style": "form"
                },
                "Audit.Created.By.SystemId": {
                  "style": "form"
                },
                "Audit.Updated.At": {
                  "style": "form"
                },
                "Audit.Updated.ById": {
                  "style": "form"
                },
                "Audit.Updated.By.Name": {
                  "style": "form"
                },
                "Audit.Updated.By.Icon": {
                  "style": "form"
                },
                "Audit.Updated.By.HasIcon": {
                  "style": "form"
                },
                "Audit.Updated.By.Type": {
                  "style": "form"
                },
                "Audit.Updated.By.Metadata.OmittedProperties": {
                  "style": "form"
                },
                "Audit.Updated.By.Reference": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Created.At": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Created.ById": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Created.By": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Updated": {
                  "style": "form"
                },
                "Audit.Updated.By.Id": {
                  "style": "form"
                },
                "Audit.Updated.By.SystemId": {
                  "style": "form"
                },
                "Id": {
                  "style": "form"
                },
                "SystemId": {
                  "style": "form"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateQueryModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModelListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/accounts/{id}/enable": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/accounts/{id}/disable": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/accounts/{id}/activate": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountActivateQueryModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountActivateQueryModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountActivateQueryModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/accounts/{id}/deactivate": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/accounts/{id}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "properties": {
                      "ExternalIds.PyraTenantId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "ExternalId": {
                        "type": "string"
                      },
                      "ExternalName": {
                        "type": "string"
                      },
                      "Type": {
                        "$ref": "#/components/schemas/AccountType"
                      },
                      "Status": {
                        "$ref": "#/components/schemas/AccountStatus"
                      },
                      "ServiceLevel": {
                        "$ref": "#/components/schemas/AccountServiceLevel"
                      },
                      "Address.AddressLine1": {
                        "type": "string"
                      },
                      "Address.AddressLine2": {
                        "type": "string"
                      },
                      "Address.PostCode": {
                        "type": "string"
                      },
                      "Address.City": {
                        "type": "string"
                      },
                      "Address.State": {
                        "type": "string"
                      },
                      "Address.Country": {
                        "type": "string"
                      },
                      "Icon": {
                        "type": "string"
                      },
                      "IconFileId": {
                        "type": "string"
                      },
                      "TechnicalSupportEmail": {
                        "type": "string"
                      },
                      "Website": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      },
                      "Name": {
                        "type": "string"
                      },
                      "Groups": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/UserGroupQueryModel"
                        }
                      },
                      "Metadata.OmittedProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Reference": {
                        "type": "string"
                      },
                      "Audit.Created.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Created.ById": {
                        "type": "string"
                      },
                      "Audit.Created.By.Name": {
                        "type": "string"
                      },
                      "Audit.Created.By.Icon": {
                        "type": "string"
                      },
                      "Audit.Created.By.HasIcon": {
                        "type": "boolean"
                      },
                      "Audit.Created.By.Type": {
                        "$ref": "#/components/schemas/IdentityType"
                      },
                      "Audit.Created.By.Metadata.OmittedProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Audit.Created.By.Reference": {
                        "type": "string"
                      },
                      "Audit.Created.By.Audit.Created": {
                        "$ref": "#/components/schemas/QueryModelEvent"
                      },
                      "Audit.Created.By.Audit.Updated.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Created.By.Audit.Updated.ById": {
                        "type": "string"
                      },
                      "Audit.Created.By.Audit.Updated.By": {
                        "$ref": "#/components/schemas/IdentityQueryModel"
                      },
                      "Audit.Created.By.Id": {
                        "type": "string"
                      },
                      "Audit.Created.By.SystemId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Audit.Updated.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Updated.ById": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Name": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Icon": {
                        "type": "string"
                      },
                      "Audit.Updated.By.HasIcon": {
                        "type": "boolean"
                      },
                      "Audit.Updated.By.Type": {
                        "$ref": "#/components/schemas/IdentityType"
                      },
                      "Audit.Updated.By.Metadata.OmittedProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Audit.Updated.By.Reference": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Audit.Created.At": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "Audit.Updated.By.Audit.Created.ById": {
                        "type": "string"
                      },
                      "Audit.Updated.By.Audit.Created.By": {
                        "$ref": "#/components/schemas/IdentityQueryModel"
                      },
                      "Audit.Updated.By.Audit.Updated": {
                        "$ref": "#/components/schemas/QueryModelEvent"
                      },
                      "Audit.Updated.By.Id": {
                        "type": "string"
                      },
                      "Audit.Updated.By.SystemId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Id": {
                        "type": "string"
                      },
                      "SystemId": {
                        "type": "integer",
                        "format": "int32"
                      }
                    },
                    "description": "Json representation of the account"
                  },
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Logo": {
                  "style": "form"
                },
                "ExternalIds.PyraTenantId": {
                  "style": "form"
                },
                "ExternalId": {
                  "style": "form"
                },
                "ExternalName": {
                  "style": "form"
                },
                "Type": {
                  "style": "form"
                },
                "Status": {
                  "style": "form"
                },
                "ServiceLevel": {
                  "style": "form"
                },
                "Address.AddressLine1": {
                  "style": "form"
                },
                "Address.AddressLine2": {
                  "style": "form"
                },
                "Address.PostCode": {
                  "style": "form"
                },
                "Address.City": {
                  "style": "form"
                },
                "Address.State": {
                  "style": "form"
                },
                "Address.Country": {
                  "style": "form"
                },
                "Icon": {
                  "style": "form"
                },
                "IconFileId": {
                  "style": "form"
                },
                "TechnicalSupportEmail": {
                  "style": "form"
                },
                "Website": {
                  "style": "form"
                },
                "Description": {
                  "style": "form"
                },
                "Name": {
                  "style": "form"
                },
                "Groups": {
                  "style": "form"
                },
                "Metadata.OmittedProperties": {
                  "style": "form"
                },
                "Reference": {
                  "style": "form"
                },
                "Audit.Created.At": {
                  "style": "form"
                },
                "Audit.Created.ById": {
                  "style": "form"
                },
                "Audit.Created.By.Name": {
                  "style": "form"
                },
                "Audit.Created.By.Icon": {
                  "style": "form"
                },
                "Audit.Created.By.HasIcon": {
                  "style": "form"
                },
                "Audit.Created.By.Type": {
                  "style": "form"
                },
                "Audit.Created.By.Metadata.OmittedProperties": {
                  "style": "form"
                },
                "Audit.Created.By.Reference": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Created": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Updated.At": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Updated.ById": {
                  "style": "form"
                },
                "Audit.Created.By.Audit.Updated.By": {
                  "style": "form"
                },
                "Audit.Created.By.Id": {
                  "style": "form"
                },
                "Audit.Created.By.SystemId": {
                  "style": "form"
                },
                "Audit.Updated.At": {
                  "style": "form"
                },
                "Audit.Updated.ById": {
                  "style": "form"
                },
                "Audit.Updated.By.Name": {
                  "style": "form"
                },
                "Audit.Updated.By.Icon": {
                  "style": "form"
                },
                "Audit.Updated.By.HasIcon": {
                  "style": "form"
                },
                "Audit.Updated.By.Type": {
                  "style": "form"
                },
                "Audit.Updated.By.Metadata.OmittedProperties": {
                  "style": "form"
                },
                "Audit.Updated.By.Reference": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Created.At": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Created.ById": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Created.By": {
                  "style": "form"
                },
                "Audit.Updated.By.Audit.Updated": {
                  "style": "form"
                },
                "Audit.Updated.By.Id": {
                  "style": "form"
                },
                "Audit.Updated.By.SystemId": {
                  "style": "form"
                },
                "Id": {
                  "style": "form"
                },
                "SystemId": {
                  "style": "form"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateQueryModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/accounts/{id}/validate": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountValidateQueryModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountValidateQueryModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountValidateQueryModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/accounts/{id}/icon": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Temporary Redirect"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/users": {
      "get": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryModelListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountUserDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountUserDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountUserDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/users/{userId}": {
      "get": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/users/{userId}/groups": {
      "post": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserGroupDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserGroupDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserGroupDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserGroupDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserGroupDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserGroupDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/users/{userId}/groups/{userGroupId}": {
      "delete": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/users/{userId}/resend-invite": {
      "post": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/users/{userId}/send-new-invite": {
      "post": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/users/{userId}/accept-invite": {
      "post": {
        "tags": [
          "AccountUsers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/account-users": {
      "post": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountUserDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountUserDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountUserDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModelListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/account-users/{id}/groups": {
      "post": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserGroupDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserGroupDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserGroupDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserGroupDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserGroupDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserGroupDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/account-users/{id}/groups/{userGroupId}": {
      "delete": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/account-users/{id}/accept-invite": {
      "post": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/account-users/{id}/resend-invite": {
      "post": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/account-users/{id}/send-new-invite": {
      "post": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/account-users/{id}": {
      "delete": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "AccountUsersLegacy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUserQueryLegacyModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commerce/agreements": {
      "post": {
        "tags": [
          "Agreements"
        ],
        "summary": "Creates a new agreement.",
        "requestBody": {
          "description": "Details of the agreement to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Agreements"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commerce/agreements/{id}": {
      "put": {
        "tags": [
          "Agreements"
        ],
        "summary": "Updates an existing agreement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of existing agreement to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Agreements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commerce/agreements/{id}/template": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Renders agreement template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/commerce/agreements/{id}/render": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Renders agreement template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/commerce/agreements/{agreementId}/attachments": {
      "get": {
        "tags": [
          "AgreementsAttachments"
        ],
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementAttachmentEntityListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgreementsAttachments"
        ],
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attachment": {
                    "properties": {
                      "Name": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      },
                      "OrderId": {
                        "type": "string"
                      },
                      "Type": {
                        "$ref": "#/components/schemas/AttachmentType"
                      },
                      "LicenseKey": {
                        "type": "string"
                      }
                    },
                    "description": "Json representation of the attachment"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Name": {
                  "style": "form"
                },
                "Description": {
                  "style": "form"
                },
                "OrderId": {
                  "style": "form"
                },
                "Type": {
                  "style": "form"
                },
                "LicenseKey": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementAttachmentEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commerce/agreements/{agreementId}/attachments/{id}": {
      "get": {
        "tags": [
          "AgreementsAttachments"
        ],
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementAttachmentEntity"
                }
              }
            }
          },
          "301": {
            "description": "Moved Permanently"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AgreementsAttachments"
        ],
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementAttachmentEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementAttachmentEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementAttachmentEntity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementAttachmentEntity"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgreementsAttachments"
        ],
        "summary": "Deletes an individual agreement attachment, specified by attachmentId.",
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "description": "Request attachment id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Request attachment id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/api-tokens": {
      "post": {
        "tags": [
          "ApiTokens"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiTokenDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiTokenDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiTokenDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ApiTokens"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenQueryModelListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/api-tokens/{id}": {
      "put": {
        "tags": [
          "ApiTokens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiTokenDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiTokenDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiTokenDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApiTokens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ApiTokens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenQueryModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/api-tokens/{id}/enable": {
      "post": {
        "tags": [
          "ApiTokens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/api-tokens/{id}/disable": {
      "post": {
        "tags": [
          "ApiTokens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenQueryModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog/pricing-policies/{pricingPolicyId}/attachments": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "pricingPolicyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingPolicyAttachmentListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "pricingPolicyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attachment": {
                    "properties": {
                      "Name": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      }
                    },
                    "description": "Json representation of the attachment"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Name": {
                  "style": "form"
                },
                "Description": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingPolicyAttachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/catalog/pricing-policies/{pricingPolicyId}/attachments/{id}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "pricingPolicyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingPolicyAttachment"
                }
              }
            }
          },
          "301": {
            "description": "Moved Permanently"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "pricingPolicyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PricingPolicyAttachment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PricingPolicyAttachment"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PricingPolicyAttachment"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "name": "pricingPolicyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/catalog/authorizations": {
      "post": {
        "tags": [
          "Authorizations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorizationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorizationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authorization"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Authorizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/catalog/authorizations/{id}": {
      "put": {
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationUpdateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationUpdateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationUpdateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authorization"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authorization"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/buyers": {
      "post": {
        "tags": [
          "Buyers"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "buyer": {
                    "properties": {
                      "ExternalIds.ErpCompanyContact": {
                        "type": "string"
                      },
                      "ExternalIds.ErpCustomer": {
                        "type": "string"
                      },
                      "ExternalIds.AccountExternalId": {
                        "type": "string"
                      },
                      "Status": {
                        "$ref": "#/components/schemas/BuyerStatus"
                      },
                      "Icon": {
                        "type": "string"
                      },
                      "IconFileId": {
[...]
